<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org">
<head>
	<title>Luxury Watches A Ecommerce Category Flat Bootstarp Resposive Website Template | Single :: w3layouts</title>
	<link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!--jQuery(necessary for Bootstrap's JavaScript plugins)-->
	<script src="bootstrap/js/jquery-1.11.0.min.js"></script>
	<!--Custom-Theme-files-->
	<!--theme-style-->
	<link href="bootstrap/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!--//theme-style-->
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Luxury Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--start-menu-->
	<script src="bootstrap/js/simpleCart.min.js"> </script>
	<link href="bootstrap/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="js/memenu.js"></script>
	<script>$(document).ready(function(){$(".memenu").memenu();});</script>
	<!--dropdown-->
	<script src="bootstrap/js/jquery.easydropdown.js"></script>

</head>
<body>
<!--top-header-->
<div class="top-header">
	<div class="container">
		<div class="top-header-main">
			<div class="col-md-6 top-header-left"></div>
			<div class="col-md-6 top-header-left">
				<div class="shoppingCar box_1">
					<a href="checkout.html">
						<img src="bootstrap/images/cart-1.png" alt="" />
					</a>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--top-header-->

<!--start-logo-->
<div class="logo">
	<a href="index.html"><h1>Luxury Watches</h1></a>
</div>
<!--start-logo-->

<!--bottom-header-->
<div class="header-bottom"/>
<!--bottom-header-->

<!--start-breadcrumbs-->
<div class="breadcrumbs">
	<div class="container">
		<div class="breadcrumbs-main">
			<ol class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li class="active">Added Cart</li>
			</ol>
		</div>
	</div>
</div>
<!--end-breadcrumbs-->

<!--start-single-->
<div class="account">
	<div class="container">
		<div class="account-top heading">
			<h2>Products Added</h2>
		</div>
		<div class="account-main">
			<div class="col-md-6">
				<h3>Now what you want to do</h3>
				<div class="account-bottom">
					<a th:href="${(#mvc.url('PC#checkout')).build()}" class="add-cart item_add">GO TO CART</a>
					<a th:href="${(#mvc.url('PC#index')).build()}" class="add-cart item_add">CHOOSE OTHER PRODUCTS</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--end-single-->

<!--information-starts-->
<div class="information">
	<div class="container">
		<div class="infor-top">
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--information-end-->

<!--footer-starts-->
<div class="footer">
	<div class="container">
		<div class="footer-top">
			<div class="col-md-6 footer-left"></div>
			<div class="col-md-6 footer-right">
				<p>© 2015 Luxury Watches. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--footer-end-->
</body>
</html>